.row {
    display: flex;
}

.column {
    padding: 5px;
}

.left {
    width: 10%;
}

.right {
    width: 90%;
}

#customers {
    border-collapse: collapse;
    width: 80%;
}

#customers th,
#customers td {
    border: 1px solid #8f8d8d;
}